*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  background-color: #ff6666;
  color: white;
  max-width: 500px;
  font-family: "DM sans", sans-serif;
  margin: 40px auto;
  padding: 40px;
  box-shadow: 3px 7px 10px 5px rgba(255, 102, 102, 0.24);
  border-radius: 8px;
}
.title {
  font-weight: 500;
  letter-spacing: 3px;
  border-bottom: 0.5px solid white;
}
.title span {
  font-size: 12px;
  display: block;
  letter-spacing: 1px;
  font-weight: 200;
  padding: 5px 0px;
}
.task-list {
  list-style: none;
  margin-top: 10px;
  padding: 0;
}
.task-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255, 0.1);
  margin: 10px;
  padding: 10px;
  transition: all 0.5s ease;
  transform-origin: top left;
}
.fall {
  transform: rotate(10deg);
  opacity: 0;
}
.task-list .action-box {
  flex-shrink: 0;
  padding-left: 10px;
}
.action-box .btn-action {
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
}
input[type="checkbox"] {
  width: 15px;
  height: 15px;
}
.task-list input[type="checkbox"] {
  position: relative;
  top: 2px;
}
.task-list label {
  transition: opacity 0.2s linear;
}
.task-list .done .label {
  text-decoration: line-through;
  opacity: 0.5;
}
.filter-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.form label {
  min-width: 100%;
  font-size: 18px;
  padding: 10px 0;
  /*   display:block */
}
.form input {
  border: none;
  flex-grow: 1;
  padding: 8px;
  border-radius: 4px;
}
.form .btn-add {
  border: none;
  border-radius: 4px;
  background-color: rgb(255, 255, 255, 0.4);
  color: white;
  margin-left: 10px;
  font-weight: 500;
  transition: background 0.2 case-out;
}
.form .btn-add:hover {
  background-color: rgb(255, 255, 255, 0.7);
  cursor: pointer;
}
